{
    
        "extends": [
            "stylelint-config-standard-scss",
            "stylelint-config-recommended-vue"
        ],
    
   "plugins": [
       "./index.js"
   ],
   "overrides": [
    {
        "files": ["*.vue"],
        "rules": {
            "plugin/use-variable-pattern": true
        }
    }
],
"rules": {
    "plugin/use-variable-pattern": true
}
}